@import "bootstrap-sprockets";
@import "bootstrap";
@import "spectrum";

.search-form {
  margin-bottom: 30px;
}

.thumbnail {
  margin: 5px;
  display: inline-block;
  width: 183px;
  height: 211px;
  max-width: 183px;
  max-height: 211px;
}
.name {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
